version: "3.8"

services:
  app:
    build: .
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    env_file:
      - .env
    ports:
      - "8051:8051"
    volumes:
      - .:/app
    command: ["sh", "entrypoint.sh"]